body
{
  font-size: 14px;
}

main
{
  margin: 1.5em 0;
}

h1
{
  font-size: 1.6em;
}

section
{
  justify-content: center;
}

header
{
  line-height: 3em;
}

p, li
{
  padding: 0.3em 1em;
}

#t_consult td:nth-child(3), #t_consult th:nth-child(3)
{
  display: none;
}
